@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

/* 기본 스타일 */
@font-face {
    font-family: 'basicfont'; /* 사용할 글꼴 이름 */
    src: url('../fonts/HakgyoansimBareonbatangR.ttf') format('truetype'); /* 파일 경로와 형식 */
    font-weight: normal; /* 선택: 굵기 */
    font-style: normal; /* 선택: 스타일 */
}

/* 외할머니 글씨 (한글) */
.point-font {
    font-family: 'basicfont', sans-serif;
}

/* 본문 글씨 */
.korean-font {
    font-family: "Wanted Sans Variable", "Wanted Sans", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 500;
}

/* Marcellus (영어) */
.english-font {
    font-family: 'Marcellus', serif;
}

body {
    background-color: #F2EDEC;
    margin: 0;
    padding: 0;
}


/* 메뉴 아이콘 스타일 */
.menu-icon {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
}

/* 슬라이드 메뉴 스타일 */
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #042C57; /* 메뉴창 배경색 변경 */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
}

header {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.navigation{
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    /* background-color: #cccccc; */
}

.navigation a {
    padding: 10px 20px;
    /* background-color: lightblue; */
    text-decoration: none;
    color: #042C57;
    font-weight: bold;
    position: relative;
    font-size: 23px;
    padding-left: 40px;
    padding-right: 40px;
}

.navigation a:not(:last-child)::after {
    content: ""; /* 의사 요소 생성 */
    position: absolute;
    right: 0; /* 오른쪽에 구분선 추가 */
    top: 0;
    height: 100%; /* 세로로 구분선 */
    width: 1px; /* 구분선 두께 */
    background-color: #cccccc;; /* 구분선 색상 */
}


.container {
    max-width: 600px; /* 최대 넓이 제한 */
    margin: 20px auto; /* 상하 여백을 주면서 가운데 정렬 */
    padding: 20px;
    text-align: center;
}

.container img {
    width: 100%;
    height: auto;
    max-width: 500px; /* 이미지를 적절한 크기로 제한 */
}

.description {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 600px; /* 텍스트 너비 제한 */
}

#copyMessage {
    font-size: 1em;
    font-weight: bold;
}
