<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>요리 꿀팁</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cooktip.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Marcellus 폰트 불러오기 -->
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous" />
    <link rel="preload" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css" />
</head>
{% extends "layout.html" %}

{% block content %}

    <div class="navigation">
        <a href="./locspepage">특산물</a>
        <a href="#" class="active">요리 꿀팁</a>
    </div>


    <!-- 카테고리 선택 -->
    <div class="category-tabs">
        <button onclick="showCategory('preparation')">손질법</button>
        <button onclick="showCategory('storage')">보관법</button>
        <button onclick="showCategory('other')">기타 정보</button>
    </div>

    <!-- 카테고리별 내용 -->
    <div class="content">
        <div id="preparation" class="category-content">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="item-box border p-3 text-center">
                        <img src="{{ url_for('static', filename='images/prep1.jpg') }}" alt="손질법 1" class="img-fluid">
                        <hr>
                        <h3>손질법 1</h3>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="item-box border p-3 text-center">
                        <img src="{{ url_for('static', filename='images/prep2.jpg') }}" alt="손질법 2" class="img-fluid">
                        <hr>
                        <h3>손질법 2</h3>
                    </div>
                </div>
            </div>
        </div>

        <div id="storage" class="category-content">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="item-box border p-3 text-center">
                        <img src="{{ url_for('static', filename='images/storage1.jpg') }}" alt="보관법 1" class="img-fluid">
                        <hr>
                        <h3>보관법 1</h3>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="item-box border p-3 text-center">
                        <img src="{{ url_for('static', filename='images/storage2.jpg') }}" alt="보관법 2" class="img-fluid">
                        <hr>
                        <h3>보관법 2</h3>
                    </div>
                </div>
            </div>
        </div>

        <div id="other" class="category-content">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="item-box border p-3 text-center">
                        <img src="{{ url_for('static', filename='images/other1.jpg') }}" alt="기타정보 1" class="img-fluid">
                        <hr>
                        <h3>기타정보 1</h3>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="item-box border p-3 text-center">
                        <img src="{{ url_for('static', filename='images/other2.jpg') }}" alt="기타정보 2" class="img-fluid">
                        <hr>
                        <h3>기타정보 2</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- toggleMenu.js 파일 적용 메뉴바 나오도록 하기위해서 -->
    <script src="{{ url_for('static', filename='./js/toggleMenu.js') }}"></script>
    <!-- 한국어랑 영어 글꼴 다르게 하기위한 js 파일 적용 -->
    <script src="{{ url_for('static', filename='./js/fonts.js') }}"></script>
    <!-- 카테고리별 다른 정보 보여주기위한 js 파일 적용 -->
    <script src="{{ url_for('static', filename='./js/cooktip.js') }}"></script>
    {% endblock %}
