<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>특산물 페이지</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/locspepage.css') }}">
    <!-- Marcellus 폰트 불러오기 -->
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous" />
    <link rel="preload" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css" />
    <!-- 카카오맵 API 불러오기 -->
    <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=47caa90b3b1c9bb5a87ba018dd6a480c"></script>
</head>
{% extends "layout.html" %}

{% block content %}
    
    <div class="navigation">
        <a href="#" class="active">특산물</a>
        <a href="./cooktip">요리꿀팁</a>
    </div> 
    
    <!-- 지도 표시 영역 -->
    <div id="map"></div>

    <script src="{{ url_for('static', filename='js/locspepage.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fonts.js') }}"></script>
    {% endblock %}
</html>

