<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>

    <!-- 스타일 시트 링크 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cooktip.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">

    <!-- 폰트 불러오기 -->
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous" />
    <link rel="preload" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css" />
</head>
{% extends "layout.html" %}

{% block content %}
<div class="container-for-signup">
    <div class="signup-container">
        <h2 class="korean-font">개인정보 입력</h2>
        <form action="{{ url_for('signup') }}" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <div class="profile-picture-container">
                    <div class="profile-picture-preview-wrapper">
                        <img id="profile-picture-preview" class="profile-picture-preview" src="#" alt="프로필 사진" />
                    </div>                    
                    <div class="upload-text-container">
                        <input type="file" id="profile-picture" name="profile-picture" accept="image/*">
                        <label for="profile-picture" class="upload-text korean-font">이미지 업로드</label>
                    </div>
                </div>
            </div>                         

            <!-- <div class="input-group">
                <label for="nickname" class="korean-font">닉네임</label>
                <input type="text" id="nickname" name="nickname" required>
            </div> -->

            <div class="input-group">
                <label for="real_name" class="korean-font">이름</label>
                <input type="text" id="real_name" name="real_name" required>
            </div>

            <div class="input-group">
                <label class="korean-font">성별</label>
                <div class="gender-group">
                    <label class="gender-option"><input type="checkbox" name="gender" value="male"> 남성</label>
                    <label class="gender-option"><input type="checkbox" name="gender" value="female"> 여성</label>
                </div>
            </div>

            <div class="input-group">
                <label for="birthdate" class="korean-font">생년월일</label>
                <input type="date" id="birthdate" name="birthdate" required>
            </div>

            <div class="input-group">
                <label for="phone_number" class="korean-font">전화번호</label>
                <input type="text" id="phone_number" name="phone_number" required>
            </div>

            <div class="input-group">
                <label for="email" class="korean-font">이메일</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="input-group">
                <label for="username" class="korean-font">아이디</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="input-group">
                <label for="password" class="korean-font">비밀번호</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="input-group">
                <label for="confirm_password" class="korean-font">비밀번호 확인</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>

            <div class="input-group input-group-horizontal">
                <label for="security_question_1" class="korean-font">보안 질문 1</label>
                <select id="security_question_1" name="security_question_1" required>
                    <option value="" disabled selected>보안 질문을 선택하세요</option>
                    <option value="mother_maiden">어머니의 성은?</option>
                    <option value="father_maiden">아버지의 성은?</option>
                    <option value="birth_city">태어난 도시는?</option>
                    <option value="best_friend">어릴 적 가장 친했던 친구의 이름은?</option>
                </select>
                <input type="text" id="security_answer_1" name="security_answer_1" required placeholder="답변">
            </div>
            
            <div class="input-group input-group-horizontal">
                <label for="security_question_2" class="korean-font">보안 질문 2</label>
                <select id="security_question_2" name="security_question_2" required>
                    <option value="" disabled selected>보안 질문을 선택하세요</option>
                    <option value="first_school">첫 학교의 이름은?</option>
                    <option value="favorite_teacher">가장 좋아하는 선생님의 성함은?</option>
                    <option value="favorite_movie">가장 좋아하는 영화는?</option>
                    <option value="first_trip">처음 여행을 간 장소는?</option>
                </select>
                <input type="text" class="security_answer" id="security_answer_2" name="security_answer_2" required placeholder="답변">
            </div>     

            <button type="submit" class="korean-font">회원가입</button>
        </form>
        <div class="ask">
            <p>이미 계정이 있으신가요?</p>&nbsp;<a href="/login" class="login-link">로그인</a>
        </div>
    </div>
</div>

    <!-- 이미지 미리보기 스크립트 -->
    <script>
        function previewProfilePicture(event) {
            const preview = document.getElementById('profile_picture_preview');
            preview.src = URL.createObjectURL(event.target.files[0]);
            preview.style.display = 'block';
        }
    </script>
    {% endblock %}
</html>
